
  .menu{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   border:12px solid  gainsboro
  

}  

.search{
     color:black; 
    font-size: 1.5rem;
   
   

}
.heading{
   font-size: 2rem; 
   margin-left: 2.5rem;
   margin-top: 3rem;
   color:black
}
 


.card{
  border: 1px solid grey;
   height: 35px;
   width:  490px;
   /* width:200px;
   height:120px; */
 
}
.mainContainer{
   width:38%;
   height: 30vh;
   padding-top: 5rem;
   margin-left: 22rem;
}
.element{
   margin-right:420px;
}

/* .deleteEmoji{
   margin-top: 140px;
} */
 /* .cardContainer{
 
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-left: 6rem;
  text-align: center;
  /* background-image: 
  url('https://media.istockphoto.com/id/506104167/photo/jog-falls-india.jpg?s=612x612&w=0&k=20&c=Jw93WSCzzK35_WfOi0aD5rk-uLramv4F7rp_pVSbUEc=')
} 
     */
   



  
  

